@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap');

body {
    background-color: hsl(220.55,15.60%,17.45%);
    font-family: 'Roboto Mono', monospace;
}

h1 {
    color: white;
    text-align: center;
}

svg#back {
    height: 50px;
    width: 50px;
}

div#iconbox {
    text-align: center;
}

div#logos {
    text-align: center;
}

div.gamelogo {
    display: inline;
    padding-inline: 100px;
}

div.gamelabel {
    color: white;
    display: inline;
    padding-inline: 155px;
    text-align: center;
    font-size: 25pt;
}

div#bottom-div {
    text-align: center;
}

svg#github-repo {
    height: 40px;
    width: 40px;
    padding-top: 30px;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.guide {
    color: white;
    font-family: 'Roboto Mono', monospace;
    padding-inline: 200px;
    font-weight: 400;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    justify-content: center;
    position: relative;
    padding-top: 25px;
}

.hash {
    background-color: white;
    text-align: center;
    position: relative;
    width: 150px;
    height: 150px;
    cursor: pointer;
    border-color: lightgray;
    border-style: solid;
    border-bottom: 0px;
}

.selected {
    background-color: lightgray;
}
